@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --principal: 'Roboto', sans-serif;
    --secundario: 'Roboto Condensed', sans-serif;
    --destaque: 'Bebas Neue', cursive;
}

body {
    max-width: 850px;
    min-width: 500px;
    margin: auto;
    color: black;
    background-image: url(imagens/wallpaper004.jpg);
    background-size: 2400px 3000px;
}

img {
    width: 50%;
}

main {
    background-color: rgba(255, 255, 255, 0.308);
    text-align: justify;
    line-height: 1.4em;
    padding: 5px;
    display:flex;
    align-items:center;
    flex-direction:column;
}

h1 {
    font-family: var(--destaque)
}

h2 {
    font-family:var(--principal)
}

h3 {
    font-family: var(--principal)
}

p {
    font-family: var(--secundario);
    text-indent: 10px;
}

table {
    height: 100px;
    width: 630px;
    border-collapse: collapse;
    font-family: var(--secundario);
}

td {
    border: 1px solid black;
    padding: 5px;
}